{% extends 'base.html' %}
{% load static %}

{% block tittle %}Registration{% endblock %}
{% block introheading %}Your carrier partner!{% endblock %}


{% block content %}
<section class="certification-section">

    <h4>Get Globally Certified from SCOPE INDIA</h4>

    <div class="image-grid-home">

        <div class="company-logo">
            <img src="{% static 'images/microsoft.png' %}" alt="Microsoft">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/ibm.png' %}" alt="IBM">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/google.png' %}" alt="Google">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/amazon.png' %}" alt="Amazon">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/redhat.png' %}" alt="Red Hat">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/istqb.png' %}" alt="ISTQB">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/cisco.png' %}" alt="Cisco">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/github.png' %}" alt="GitHub">
        </div>

    </div>

</section>
<h2 class="course-available-head">Ai Integrated Software Courses</h2>
<div class="Course-cover">
{% if courses %}
{% for course in courses %}

    <a href="{% url 'courseDetails' course.id %}" class="course-contain">
        {{ course.course_name }}
    </a>

{% endfor %}
{% else %}
<p>No courses Currently available</p>
{% endif %}
</div>


{% endblock %}