{% extends 'base.html' %}
{% load static %}

{% block tittle %}About{% endblock %}
{% block introheading %}Your carrier partner!{% endblock %}
<!-- ?About section -->

{% block content %}


<section class="certification-section">

    <h4>Get Globally Certified from SCOPE INDIA</h4>

    <div class="image-grid-home">

        <div class="company-logo">
            <img src="{% static 'images/microsoft.png' %}" alt="Microsoft">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/ibm.png' %}" alt="IBM">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/google.png' %}" alt="Google">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/amazon.png' %}" alt="Amazon">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/redhat.png' %}" alt="Red Hat">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/istqb.png' %}" alt="ISTQB">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/cisco.png' %}" alt="Cisco">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/github.png' %}" alt="GitHub">
        </div>

    </div>
</section>




<section class="about-text-container">
    <div class="container-fluid">
        <h2>SCOPE INDIA, your career partner!</h2>
        <h3>One of India's best Training destinations for Advanced Data Science and Artificial Intelligence, Advanced
            Data Science with Gen AI, Advanced Data Analytics, Software Development, DevOps and Cloud Computing courses
            with 19 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have
            assisted more than 16,000 students so far.</h3>
        <p>SCOPE INDIA - A Professional Education Centre in Kerala and Tamil Nadu from Suffix E Solutions, an IT company
            - is a trusted training institute dedicated to helping students build successful careers in the IT industry
            through practical learning and industry-focused training. With 19 years of experience in professional
            education, SCOPE INDIA has become a preferred choice for students who want to gain real-world technical
            skills and enhance their career opportunities. SCOPE INDIA always focuses on a job-oriented curriculum that
            helps students adapt to new technologies.</p>
        <p>At SCOPE INDIA, learning is designed to be practical and career-oriented. The courses are structured to help
            students understand how real IT companies work, giving them the confidence and skills needed to start their
            careers successfully. Instead of focusing only on theory, students get opportunities to work on live
            projects and internship-based training that improve their technical knowledge and hands-on experience. SCOPE
            INDIA provides courses for Advanced Data Science and Artificial Intelligence, Advanced Data Science with Gen
            AI, Advanced Data Analytics, Python Full Stack, Java Full Stack, .Net Full Stack, PHP Full Stack, Power BI
            with excel advanced, Advanced MERN Full Stack, MEAN Full Stack, Software Testing Manual and Automation,
            Playwright, Cloud Computing (AWS / Azure), Server Administration (Linux-RHCE), Networking (CCNA), DevOps
            (Docker, Kubernetes, Jenkins- CI/CD) Mobile App Development in Flutter, and Advanced Digital Marketing.</p>
        <p>One of the biggest advantages of learning at SCOPE INDIA is the 100% placement support provided to students
            who successfully complete their training programs. From resume preparation and interview guidance to
            placement assistance, students receive complete support throughout their career journey.</p>
        <p>SCOPE INDIA provides On the Job Training (OJT) for students who have completed their course. During this
            period, they work on real-time and commercial projects from Suffix E Solutions - an IT company. This
            experience makes students 100% confident in understanding how real projects start and finish, including the
            end-to-end project delivery process.
        <P>Students also gain valuable project experience during their internship period, helping them improve
            problem-solving abilities, teamwork, and practical implementation skills. This real-time exposure prepares
            them to work confidently in professional environments from the very beginning of their careers.</p>
        <p>What truly makes SCOPE INDIA different is the continuous support offered even after placement. The
            institution believes in building long-term relationships with students by providing lifelong career
            guidance, professional assistance, and skill support whenever needed.

        <p>With branches in Thiruvananthapuram, Kochi, Nagercoil, and Technopark, SCOPE INDIA continues to guide
            aspiring professionals toward a brighter future through quality education, practical training, and dedicated
            career support.
        </p>
        <div class="rating-container">
            <a href="">
                <img src="{% static 'images/google-rating-scope-india.webp' %}" alt="">
            </a>
            <h4>Google 4.9 * Rated Institute</h4>
        </div>
    </div>
</section>



<section class="mission-vision">
    <div class="container-fluid">
        <h4>Our Mission & Vision</h4>
        <div class="mision-box">
            <div class="mission">
                <div class="svg_div">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                    </svg>
                </div>
                <h4>Our Mission</h4>
                <p>SCOPE INDIA seeks to close the knowledge gap between education and employment by offering
                    interactive, industry-focused IT training led by proficient working professionals and aligned with
                    the latest trends and technologies. Our objective is to provide people with the technical expertise
                    and confidence they need to build fulfilling careers.</p>
                <ul>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol">Industry-aligned curriculum
                    </li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol">Practical skill development
                    </li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol">Career-focused training</li>
                </ul>
            </div>
            <div class="vision">
                <div class="svg_div">
                    <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z">
                        </path>
                    </svg>
                </div>
                <h4>Our Vision</h4>
                <p>We aspire to become the most respected and forward-thinking training organization in India and beyond
                    by
                    shaping the future of IT education via innovation, integrity, and strong industry ties. We intend to
                    expand globally.</p>
                <ul>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol">Global recognition</li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol">Innovation leadership</li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol">Technology excellence</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}