{% extends 'base.html' %}
{% load static %}

{% block tittle %}Contact{% endblock %}
{% block introheading %}Your carrier partner!{% endblock %}
<!-- ?About section -->

{% block content %}

<section class="contact-container">
    <div class="container-fluid">
        <div class="contact-box1">
            <h4>SCOPE INDIA Trivandrum, Kerala</h4>
            <address>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</address>
            <a href="tel:+919876543210">9876543210</a>
            <a href="mailto:info@scopeindia.org">info@scopeindia.org</a>
            <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x3b05bba5cdaff17b:0xdf93784626e9d676?source=g.page.m._">Location Route Map</a>
        </div>


        
        <div class="contact-box2"></div>
        <div class="contact-box3"></div>
        <div class="contact-box4"></div>
        <div class="contact-box5"></div>
        <div class="contact-box6"></div>
    </div>
</section>

{% endblock %}