{% extends 'base.html' %}
{% load static %}

{% block tittle %}Home{% endblock %}
{% block introheading %}Your carrier partner!{% endblock %}

<!-- ?Home section-->
{% block content %}

<section class="certification-section">

    <h4>Get Globally Certified from SCOPE INDIA</h4>

    <div class="image-grid-home">

        <div class="company-logo">
            <img src="{% static 'images/microsoft.png' %}" alt="Microsoft">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/ibm.png' %}" alt="IBM">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/google.png' %}" alt="Google">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/amazon.png' %}" alt="Amazon">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/redhat.png' %}" alt="Red Hat">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/istqb.png' %}" alt="ISTQB">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/cisco.png' %}" alt="Cisco">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/github.png' %}" alt="GitHub">
        </div>

    </div>

</section>
<section class="home-abouts">
    <div class="container">
        <h2 class="h2">Dreaming about a career in IT</h2>
        <div class="main-box row">
            <div class="main-courses col container">
                <p>Spearheaded by the working professionals of Suffix E Solutions in flexible learning mode, we provide
                    quality training with 100% placement support.</p>
                <p>We provide comprehensive courses in:</p>
                <div class="row row-cols-2 course-list-home">
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Advanced Data Science & AI</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Software Programming</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Data Science with GENAI</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Software Testing</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Data Analytics</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Server Administration</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">DevOps</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Cloud Computing</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">NetWorking</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Mobile App Development</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Digital Marketing</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">UI/UX</a></div>

                </div>
            </div>
            <div class="main-features col container">
                <div class="home-features">

                    <div class="box1">
                        <h3>Classes</h3>
                        <p>Learn Anywhere, Anytime - Online & in-Person Classes Available!</p>
                    </div>
                    <div class="box2">
                        <h3>Placement</h3>
                        <p>Guaranteed Success -100% Placement Support</p>
                    </div>
                    <div class="box3">
                        <h3>Training</h3>
                        <p>Training by Working Professionals of Suffix E Solutions</p>
                    </div>
                    <div class="box4">
                        <h3>Internship</h3>
                        <p>OJT (On the Job Training) under Suffix E Solutions after course completion with experience
                            certificate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-placements">
    <div class="container mt-3">
        <h2>Placement Highlights</h2>
        <div class="highlights">
            <div>
                <span class="h1">100%</span>
                <p>Placement Assistance</p>
            </div>
            <div>
                <span class="h1">1000+</span>
                <p>Students are Getting Placed Every Year</p>
            </div>
            <div>
                <span class="h1">500+</span>
                <p>Partner Companies</p>
            </div>
        </div>
    </div>
</section>
<section class="home-ai">
    <div class="container-fluid">
        <h2>Match the Pace of Artificial Intelligence</h2>
        <h3>Study AI From SCOPE INDIA</h3>
        <a href="">
            <div class="ai-containers">
                <div class="left">
                    <img src="{% static 'images/data-science-ai-course-scopeindia.webp' %}" alt="ai course image"
                        class="ai">
                    <img src="{% static 'images/robo-scope-site.webp' %}" alt="robo image" class="robo">
                </div>
                <div class="right">
                    <ul>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Python 3.12</span>
                        </li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>SQL</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Pandas</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>NumPy</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Matplotlib and
                                Seaborn</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Tableau</span>
                        </li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Excel & Power
                                BI</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Django & REST
                                Services</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Deep Learning &
                                AI</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Django & REST
                                Services</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>English Language
                                Training</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Live
                                Projects</span></li>
                    </ul>
                </div>
            </div>
        </a>
        <p>Harness the capabilities of machine learning, deep learning, natural language processing and uncover hidden
            patterns, optimize processes, and drive smarter decision-making.</p>

    </div>
</section>
<section class="home-fullstack">
    <div class="container-fluid">
        <h2>Become a Full Stack Developer</h2>
        <a href="">
            <div class="fullstack-container">
                <div class="right">
                    <h4>Your pathway includes</h4>
                    <ul>
                        <li>
                            <span>1</span>
                            <h5>Foundation</h5>
                            <p>Programming Fundamentals, SQL</p>
                        </li>
                        <li>
                            <span>2</span>
                            <h5>Front End</h5>
                            <p>HTML, CSS, JavaScript, jQuery, Bootstrap, React JS</p>


                        </li>
                        <li>
                            <span>3</span>
                            <h5>Back End</h5>
                            <p>Python / Java / ASP.NET / PHP / JavaScript</p>

                        </li>
                    </ul>
                </div>
                <div class="left">
                    <img src="{% static 'images/full-stack-course-scopeindia.webp' %}" alt="">
                </div>
            </div>
        </a>
    </div>
</section>
<section class="home-testing">
    <div class="container-fluid">
        <a href="">
            <h2>
                <Span>No Coding</Span>
                Prowess?
                <Span>Not a Problem</Span>
            </h2>
            <div class="testing-container">
                <div class="left">
                    <img src="{% static 'images/software-testing-course-scopeindia.webp' %}" alt="scope india testing">
                </div>
                <div class="right">
                    <h4>Software Testing is the Gateway to Your IT Career</h4>
                    <ul>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Manual
                                Testing</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Automation
                                Testing</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Practical
                                Sessions</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Theoretical
                                Sessions</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Flexible
                                Schedules</span></li>
                        <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>On Job
                                Training</span></li>
                    </ul>
                </div>

            </div>
            <p>Start your tech journey today with <span>SCOPE INDIA</span> and make your mark in the IT industry!</p>
        </a>
    </div>
</section>
<section class="home-devops">
    <div class="container-fluid">
        <h2>Career with DevOps</h2>
        <div class="devops">
            <div class="right">
                <h4>Master DevOps From SCOPE INDIA</h4>
                <ul>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Build Applications
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Deploy Applications
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Automate Workflows
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Hands-on Experience
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Popular Tools
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Cloud Infrastructure
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Cloud Management
                            </span></li>
                    <li><img src="{% static 'images/check-solid.png' %}" alt="check symbol"><span>Deployement Strategies
                            </span></li>
                </ul>
            </div>
            <div class="left">
                <img src="{% static 'images/devops-course-scope-india.webp' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}