{% extends 'base.html' %}
{% load static %}

{% block tittle %}Home{% endblock %}
{% block introheading %}Your carrier partner!{% endblock %}

<!-- ?Home section-->
{% block content %}

<section class="certification-section">

    <h4>Get Globally Certified from SCOPE INDIA</h4>

    <div class="image-grid-home">

        <div class="company-logo">
            <img src="{% static 'images/microsoft.png' %}" alt="Microsoft">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/ibm.png' %}" alt="IBM">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/google.png' %}" alt="Google">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/amazon.png' %}" alt="Amazon">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/redhat.png' %}" alt="Red Hat">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/istqb.png' %}" alt="ISTQB">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/cisco.png' %}" alt="Cisco">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/github.png' %}" alt="GitHub">
        </div>

    </div>

</section>
<section class="home-abouts">
    <div class="container">
        <h2 class="h2">Dreaming about a career in IT</h2>
        <div class="main-box row">
            <div class="main-courses col container">
                <p>Spearheaded by the working professionals of Suffix E Solutions in flexible learning mode, we provide
                    quality training with 100% placement support.</p>
                <p>We provide comprehensive courses in:</p>
                <div class="row row-cols-2 course-list-home">
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Advanced Data Science & AI</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Software Programming</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Data Science with GENAI</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Software Testing</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Data Analytics</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Server Administration</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">DevOps</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Cloud Computing</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">NetWorking</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Mobile App Development</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">Digital Marketing</a></div>
                    <div class="col"><span><img src="{% static 'images/check-solid.png' %}" alt=""></span><a
                            href="">UI/UX</a></div>

                </div>
            </div>
            <div class="main-features col container">
                <div class="home-features">

                    <div class="box1">
                        <h3>Classes</h3>
                        <p>Learn Anywhere, Anytime - Online & in-Person Classes Available!</p>
                    </div>
                    <div class="box2">
                        <h3>Placement</h3>
                        <p>Guaranteed Success -100% Placement Support</p>
                    </div>
                    <div class="box3">
                        <h3>Training</h3>
                        <p>Training by Working Professionals of Suffix E Solutions</p>
                    </div>
                    <div class="box4">
                        <h3>Internship</h3>
                        <p>OJT (On the Job Training) under Suffix E Solutions after course completion with experience
                            certificate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-placements">
    <div class="container mt-3">
        <h2>Placement Highlights</h2>
        <div class="highlights">
            <div>
                <span class="h1">100%</span>
                <p>Placement Assistance</p>
            </div>
            <div>
                <span class="h1">1000+</span>
                <p>Students are Getting Placed Every Year</p>
            </div>
            <div>
                <span class="h1">500+</span>
                <p>Partner Companies</p>
            </div>
        </div>
    </div>
</section>
<section class="home-ai">
    <div class="container-fluid">
        <h2>Match the Pace of Artificial Intelligence</h2>
        <h3>Study AI From SCOPE INDIA</h3>
        <a href="">
            <div class="ai-containers">
                <div class="left">
                    <img src="{% static 'images/data-science-ai-course-scopeindia.webp' %}" alt="ai course image"  class="ai">
                    <img src="{% static 'images/robo-scope-site.webp' %}" alt="robo image" class="robo">
                </div>
                <div class="right"></div>
            </div>
        </a>
        <p>Harness the capabilities of machine learning, deep learning, natural language processing and uncover hidden patterns, optimize processes, and drive smarter decision-making.</p>
       
    </div>
</section>
{% endblock %}