{% extends 'base.html' %}
{% load static %}

{% block tittle %}Placements{% endblock %}
{% block introheading %}Recent Placements at SCOPE INDIA{% endblock %}
<!-- ?About section -->

{% block content %}
<section class="certification-section">

    <h4>Get Globally Certified from SCOPE INDIA</h4>

    <div class="image-grid-home">

        <div class="company-logo">
            <img src="{% static 'images/microsoft.png' %}" alt="Microsoft">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/ibm.png' %}" alt="IBM">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/google.png' %}" alt="Google">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/amazon.png' %}" alt="Amazon">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/redhat.png' %}" alt="Red Hat">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/istqb.png' %}" alt="ISTQB">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/cisco.png' %}" alt="Cisco">
        </div>

        <div class="company-logo">
            <img src="{% static 'images/github.png' %}" alt="GitHub">
        </div>

    </div>
</section>

<section class="Placement-details">
    <div class="container-fluid">
        {% if placements %}
        {% for p in placements %}
        <div class="card" style="width: 18rem;">
            <img src="{{ p.image.url }}" class="card-img-top" alt="{{ p.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.role }}</p>
                <p class="card-text">{{ p.company_name }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}