*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: scroll;
    min-height: 100vh;
    scroll-behavior: smooth;
}
/* ? Fonts */

@font-face {
    font-family: 'Viga';
    src: url('../fonts/Viga-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*? Navbar section */
.navigation-container {
    width: 100%;
    height: fit-content;
    scroll-snap-align: start;
    background:linear-gradient(45deg,#050B2D,#081E60) ;
    position: relative;
    border-bottom: #ECB264 1px solid;
}
.navigation-container .navigation-background-design1{
    width: 100%;
    height: 11rem;
    background-image: url("../images/scopeindia-bkg.png");
    background-repeat: repeat-x;
    background-size:auto;
}
.navigation-content .logo a img{
    width: 180px;
    height: auto;
    position: absolute;
    left: 21px;
    bottom: 1rem;

}
.navigation-links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1rem;
    bottom: .5rem;
    right: 4.5rem;
}
.navigation-links li{
    list-style: none;
    
}
.navigation-links li a:hover{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.136);
    border: 1px solid white;
    border-radius: 5px;
    color: #ECB264;
    
}
.navigation-links li a{
    text-decoration: none;
    padding: 5px;
    color: #D6D6D6;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;

}
.google-rating{
    position: absolute;
    right: 4rem;
    top: 1rem;
}
.google-rating a img{
    width: 200px;
    height: auto;
}
.regis-btn{
    background-color: #FB3E5A;
    color: white !important;
    border-radius: 5px;

}
/* ? floating social links */

.floating-links{
    position: absolute;
    right: .3rem;
    top: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
}
.floating-links a img{
    width: 45px;
}

/* ? heading container base */

.container-intro-heading{
    width: 100%;
    background:linear-gradient(45deg,#071E5E,#030E37);
    text-align: center;border-bottom: #E0CF90 1px solid;
}
.container-intro-heading h1{
    
    color: #EEAF10;
    font-size: 35px;
    font-family: 'Viga',sans-serif;
    padding: 7px 15px;
    font-weight: 400;
}
.container-intro-content{
    background: linear-gradient(45deg, #e2e2e2, #fff);
    text-align: center;
}
.container-intro-content h2{
    font-family: 'Viga',sans-serif;
    color: #162A7C;
    font-weight: 400;
    font-size: 25.2px;
    padding: 10px 0px 0px;
    margin: 0px 0px 10px;

}
.container-intro-content h3{
    color: #0b27a8;
    padding: 0 15px 15px 15px;
    text-align: justify;
    font-size: 16.6px;
    font-weight: 100;
    margin: 0;
    font-family: 'Viga',sans-serif;
}
/* ?base certification company logos included in the home section */

.certification-section {
    border-top: 5px solid #04145f;
    width: 100%;
     background: linear-gradient(45deg, #e2e2e2, #fff);
    padding: 15px 0 20px;
}

.certification-section h4 {
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Viga', sans-serif;
    font-size: 19px;
    color: #04145F;
}
.image-grid-home {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
}
.company-logo {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.company-logo img {
    max-width: 50%;
    max-height: 35px;
    width: auto;
    height: auto;
    object-fit: contain;
}
/* ?Home section content starts here */
.home-abouts{
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
    font-family: 'Viga',sans-serif;
    padding: 2rem 0;
    
} 
.home-abouts div h2{
    color: #FECB00;
    display: block;
    font-size: 35px;
    padding: 20px 0;
    text-align: start;
    
}
.main-courses  p{
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 0 26px;
}
.course-list-home div{
    padding: .5rem;
}
.course-list-home div span{
    margin-right: 10px;
}
.course-list-home div span img{
    width: 20px;
}
.course-list-home div a{
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s ease;
}
.course-list-home div a:hover{
    border-bottom: 2px solid #FFFFFF;

}
.home-features{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
    
}

.main-features div div{
    border: 2px solid;
    border-radius: 30px 0 30px 0;
    padding: .5rem 2rem;
    background: rgb(11, 30, 125);
    border-color: rgb(241, 173, 14);
    transition: .3s ease;
 
}
.main-features div div:hover{
    transform: scale(1.05);
}
.main-features div h3{
    color: #FECB00;
    margin: 10px 0;
}
.main-features div p{
    color: #FFFFFF;
}
/* ? Home placement highlights */

.home-placements{
    font-family: 'Viga',sans-serif;

}
.home-placements div h2{
    color: #0E2B7E;
    text-align: center;
    padding: 10px;
}
.highlights{
    padding: 20px 15px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
   
}
.highlights div{
    text-align: center;
    min-width: 350px;
    box-shadow: 0px -1px 10px rgba(128, 128, 128, 0.336);
    padding: 10px 30px;
    border-radius: 15px;
}
.highlights div span{
    color: #FECB00;
    
}

