{% extends 'adminLayout.html' %}
{% load static %}
{% block content %}
<body>
    <div class="card border-0 shadow-sm container-fluid" >
        <div class="card-header bg-white py-3">
            <h5 class="fw-semibold mb-2 h2">

                Placement Details Adding

            </h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Add</button>
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>

</body>
{% endblock %}
