{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>

<body>
    <nav class="navigation-container">
        <div class="navigation-background-design1">
            <div class="navigation-content">
            <div class="logo">
                <a href="#">
                    <img src="{% static 'images/scopeindia-logo.webp' %}" alt="scope india logo">
                </a>
            </div>
            <ul class="navigation-links">
                <li><a href="">Home</a></li>
                <li><a href="">Courses</a></li>
                <li><a href="">Registration</a></li>
                <li><a href="">Placements</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">contact us</a></li>

            </ul>
            <div class="google-rating">
                <a href="">
                    <img src="{% static 'images/google-rating-scope-india.webp' %}" alt="">
                </a>
            </div>
        </div>
    </div>
        


            

    </nav>
    <div class="container-intro-heading">
        {% block introheading %}{% endblock %}
    </div>
    <div class="container-intro-content">
        {% block introcontent %}{% endblock %}
    </div>
    <div class="float-navigations">

    </div>
    <section class="pages">
        {% block content %}{% endblock %}
    </section>


    <footer>

    </footer>
</body>

</html>